In [4]:
import pandas as pd
from urllib.parse import quote
b = b'/:?='
url=quote("https://raw.githubusercontent.com/1205129045x/baiduindex/master/月度数据.csv", safe=b)
df = pd.read_csv(url, encoding='gbk')

In [2]:
df.date

0      2019-01
1      2019-02
2      2019-03
3      2019-04
4      2019-05
        ...
347    2022-04
348    2022-05
349    2022-06
350    2022-07
351    2022-08
Name: date, Length: 352, dtype: object

a is {{df.date}}

In [7]:
from IPython.display import display, Markdown, Latex, HTML
display(Markdown('*some markdown* $\phi$'))
# If you particularly want to display maths, this is more direct:
display(Latex('\phi'))

*some markdown* $\phi$

$\phi$

In [18]:
%%capture cape --no-stderr
print(df.date)
with open('output.txt', 'w') as f:
    f.write(cape.stdout)

In [3]:
data, metadata = get_ipython().display_formatter.format(df)
with open('table.html', 'w') as f:
    f.write(data['text/html'])  # Assuming the object has an HTML representation

In [21]:
data

{'text/plain': '    keyword     date         index\n0       去哪儿  2019-01  16137.451613\n1       去哪儿  2019-02  11814.607143\n2       去哪儿  2019-03  11024.354839\n3       去哪儿  2019-04  12029.466667\n4       去哪儿  2019-05  11522.064516\n..      ...      ...           ...\n347     马蜂窝  2022-04   2906.633333\n348     马蜂窝  2022-05   2591.903226\n349     马蜂窝  2022-06   3679.600000\n350     马蜂窝  2022-07   5214.032258\n351     马蜂窝  2022-08   7557.000000\n\n[352 rows x 3 columns]',
 'text/html': '<div>\n<style scoped>\n    .dataframe tbody tr th:only-of-type {\n        vertical-align: middle;\n    }\n\n    .dataframe tbody tr th {\n        vertical-align: top;\n    }\n\n    .dataframe thead th {\n        text-align: right;\n    }\n</style>\n<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>keyword</th>\n      <th>date</th>\n      <th>index</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>去哪儿</td>\n      <td>2019-01</td>\n      <td>16137.451613</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>去哪儿</td>\n      <td>2019-02</td>\n      <td>11814.607143</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>去哪儿</td>\n      <td>2019-03</td>\n      <td>11024.354839</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>去哪儿</td>\n      <td>2019-04</td>\n      <td>12029.466667</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>去哪儿</td>\n      <td>2019-05</td>\n      <td>11522.064516</td>\n    </tr>\n    <tr>\n      <th>...</th>\n      <td>...</td>\n      <td>...</td>\n      <td>...</td>\n    </tr>\n    <tr>\n      <th>347</th>\n      <td>马蜂窝</td>\n      <td>2022-04</td>\n      <td>2906.633333</td>\n    </tr>\n    <tr>\n      <th>348</th>\n      <td>马蜂窝</td>\n      <td>2022-05</td>\n      <td>2591.903226</td>\n    </tr>\n    <tr>\n      <th>349</th>\n      <td>马蜂窝</td>\n      <td>2022-06</td>\n      <td>3679.600000</td>\n    </tr>\n    <tr>\n      <th>350</th>\n      <td>马蜂窝</td>\n      <td>2022-07</td>\n      <td>5214.032258</td>\n    </tr>\n    <tr>\n      <th>351</th>\n      <td>马蜂窝</td>\n      <td>2022-08</td>\n      <td>7557.000000</td>\n    </tr>\n  </tbody>\n</table>\n<p>352 rows × 3 columns</p>\n</div>'}

In [15]:
with open('table1.html', 'w') as f:
    f.write(data['text/plain'])

In [8]:
data2 = get_ipython().display_formatter.format(df)

In [10]:
data, metadata = get_ipython().display_formatter.format(df)

In [14]:
data2['text/html']

TypeError: tuple indices must be integers or slices, not str

In [13]:
data

{'text/plain': '    keyword     date         index\n0       去哪儿  2019-01  16137.451613\n1       去哪儿  2019-02  11814.607143\n2       去哪儿  2019-03  11024.354839\n3       去哪儿  2019-04  12029.466667\n4       去哪儿  2019-05  11522.064516\n..      ...      ...           ...\n347     马蜂窝  2022-04   2906.633333\n348     马蜂窝  2022-05   2591.903226\n349     马蜂窝  2022-06   3679.600000\n350     马蜂窝  2022-07   5214.032258\n351     马蜂窝  2022-08   7557.000000\n\n[352 rows x 3 columns]',
 'text/html': '<div>\n<style scoped>\n    .dataframe tbody tr th:only-of-type {\n        vertical-align: middle;\n    }\n\n    .dataframe tbody tr th {\n        vertical-align: top;\n    }\n\n    .dataframe thead th {\n        text-align: right;\n    }\n</style>\n<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>keyword</th>\n      <th>date</th>\n      <th>index</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>去哪儿</td>\n      <td>2019-01</td>\n      <td>16137.451613</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>去哪儿</td>\n      <td>2019-02</td>\n      <td>11814.607143</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>去哪儿</td>\n      <td>2019-03</td>\n      <td>11024.354839</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>去哪儿</td>\n      <td>2019-04</td>\n      <td>12029.466667</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>去哪儿</td>\n      <td>2019-05</td>\n      <td>11522.064516</td>\n    </tr>\n    <tr>\n      <th>...</th>\n      <td>...</td>\n      <td>...</td>\n      <td>...</td>\n    </tr>\n    <tr>\n      <th>347</th>\n      <td>马蜂窝</td>\n      <td>2022-04</td>\n      <td>2906.633333</td>\n    </tr>\n    <tr>\n      <th>348</th>\n      <td>马蜂窝</td>\n      <td>2022-05</td>\n      <td>2591.903226</td>\n    </tr>\n    <tr>\n      <th>349</th>\n      <td>马蜂窝</td>\n      <td>2022-06</td>\n      <td>3679.600000</td>\n    </tr>\n    <tr>\n      <th>350</th>\n      <td>马蜂窝</td>\n      <td>2022-07</td>\n      <td>5214.032258</td>\n    </tr>\n    <tr>\n      <th>351</th>\n      <td>马蜂窝</td>\n      <td>2022-08</td>\n      <td>7557.000000</td>\n    </tr>\n  </tbody>\n</table>\n<p>352 rows × 3 columns</p>\n</div>'}